*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

body{
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  width: 100vw;
  background-image:linear-gradient(rgba(0,0,0,0.15),rgba(0,0,0,0.15)),url(/background1.jpg);
  background-position: center;
  background-size:cover;
  background-repeat: no-repeat;
}

.container {
  height: 80vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  font-size: 8rem;
}

h1{
  font-size: 2rem;
  left: 100px;
  color: #fff;
  text-align: center;
}

#time{
  display: flex;
  background-color: rgba(0, 0, 0, 0.414);
  border-radius: 50px;
  margin: 2rem;
}

.container #time div{
  font-size: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #000;
  background-color: #ffffffa2;
  border-radius: 10px;
  text-shadow: 1px 1px 2px #ffffff33;
  padding: 1rem 4rem;
  margin:  3rem 5rem;
  font-size: 6rem;
}

.btn{
  font-size: 3rem;
  padding: 10px 20px;
  margin: 10px 40px;
  border-radius: 40px;
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
  background:none;
  border: 2px solid white;
  color: #fff;
}

@media screen and (min-width:901px) and (max-width: 1350px) {
  .container {
    margin-top: 20px;
  }
}

@media screen and (min-width:501px) and (max-width: 900px) {
  .container {
    margin-top: 20px;
    margin: 0px;
  }
  .container #time{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }

  #time{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }

  .container #time div{
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: #000;
    background-color: #ffffffa2;
    border-radius: 10px;
    text-shadow: 1px 1px 2px #ffffff33;
    padding: 1rem 2rem;
    margin:  1rem 3rem;
  }
 
  .btn{
    font-size: 1.2rem;
    padding: 10px 15px;
    margin: 10px 10px;
    border-radius: 40px;
  }
}

@media screen and (max-width: 500px) {
  .container {
    margin-top: 10px;
    font-size: 2rem;
  }

  #time{
    height: fit-content;
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }

  h2{
    font-size: 3rem;
  }
  h1{
    font-size: 1.5rem;
  }

  .container #time div{
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: #000;
    background-color: #ffffffa2;
    border-radius: 10px;
    text-shadow: 1px 1px 2px #ffffff33;
    padding: 1rem 2rem;
    margin:  1rem 3rem;
  }

  .btn{
    font-size: 1.2rem;
    padding: 10px 15px;
    margin: 10px 10px;
    border-radius: 40px;
  }
}